.tweet {
  margin: 35px;
  border: 1px solid #6e6e6e;
  opacity: 0.7;
  border-radius: 8px;
}

.tweet header {
  background-color: #EEEEEE;
  border-radius: 7px 7px 0 0;
  height: 100px;
}

.tweet header h1 {
  float: left;
  padding: 10px;
}

.tweet header .handle {
  float: right;
  padding: 10px;
}

.tweet header img {
  width: 15%;
  border-radius: 7px;
  float: left;
  padding: 5px;
}

.tweet div {
  padding: 25px 25px 25px 25px;
  margin: 50px;
}

.tweet footer {
  border-top:2px solid #EEEEEE;
  border-radius: 0 0 7px 7px;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.tweet .button {
   opacity: 0;
   padding-bottom: 5px;
}

.tweet:hover footer .button {
    float: right;
    opacity: 1;
}

.tweet:hover {
    opacity: 1;
}

