.new-tweet {
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  border: 1px solid black;
  padding: 1em;
  border-radius: 8px;
  background-color: #ededed;
}

.new-tweet h2 {
  border-bottom:1px solid #AAA;
  padding-bottom:3px;
}

.new-tweet textarea {
  padding: 5px;
  width: 100%;
}

.new-tweet .counter {
  position: absolute;
  right: 0;
  bottom: 0;
}

.new-tweet input {
  vertical-align: bottom;
  display: table-cell;
}

.new-tweet form {
  position: relative;
}

.new-tweet .over-limit {
  color: red;
}